@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700&display=swap');

/*==========Basic Styles==============*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-font: 'Mulish', sans-serif;
    --primary-color: #cccccc;
    --secondary-color: #157FBC;
    --font-color: #000000;
    --color3: #00ffc5;
    --color4: #ffffff;
}

html {
    background-color: var(--primary-color);
    scroll-behavior: infinite;
}

main {
    font-family: var(--primary-font);
    background-color: var(--primary-color);
    font-size: 16px;
}

body {
    color: var(--font-color);
}


/*========== Previous / Next Styles==============*/

i {
    font-size: 1.5em;
}


/*========== Card Styles==============*/

.container {
    height: calc(100% - 15px);
}

.card {
    margin-bottom: 50px;
}

#profile img {
    height: 80px;
}

.card-footer i {
    color: var(--primary-color);
}

a:hover {
    text-decoration: none;
}

h1 {
    color: var(--secondary-color);
}

@media all and (min-width: 0px) {
    .section-header {
        font-size: 1.5rem;
        text-align: center;
        color: var(--secondary-color);
        padding: 1.5rem;
        margin-top: 3rem;
    }
    h4 {
        font-size: 1rem;
        text-align: right;
    }
    i,
    i:hover {
        font-size: 1rem;
        color: var(--secondary-color);
    }
}

@media all and (min-width: 768px) {
    .section-header {
        font-size: 3rem;
        text-align: center;
        color: var(--secondary-color);
        padding: 3rem 0;
    }
    h4 {
        font-size: 1.5rem;
        text-align: right;
    }
}
